<footer>
    <div class="container">
        <div class="d-flex align-items-center">
            <a href="" title="" class="logo"><img src="./assets/img/logo-1.svg" alt=""></a>
            <div class="social flex-lc">
                <a href="" title="" class="twitter">twitter</a>
                <a href="" title="" class="telegram">telegram</a>
            </div>
        </div>
    </div>
</footer>