<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggle" type="button"><span></span></button>
            <a href="" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <div class="navbar-collapse">
                <ul class="navbar-nav flex">
                    <li><a href="" title="About">About</a></li>
                    <li><a href="" title="Tokenomics">Tokenomics</a></li>
                    <li><a href="" title="Roadmap">Roadmap</a></li>
                </ul>
                <div class="social flex-lc">
                    <a href="" title="" class="twitter">twitter</a>
                    <a href="" title="" class="telegram">telegram</a>
                </div>
            </div>
        </nav>
    </div>
</header>