<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/select2.min.css" rel="stylesheet">
    <link href="./assets/css/aos.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/select2.min.js"></script>
<script src="./assets/js/aos.js"></script>
<script>
    $(document).ready(function () {
        //show menu
        $('.navbar-toggle').on('click', function () {
            $(this).toggleClass('active');
            $('.navbar-collapse').toggleClass('show');
        });
        $('.navbar-collapse .close').on('click', function () {
            $('.navbar-collapse').removeClass('show');
        });


        // active navbar of page current
        var urlcurrent = window.location.pathname;
        $(".navbar-nav li a[href$='"+urlcurrent+"']").addClass('active');

        //call select min2

        $('.select2-min-token').select2().on('select2:open', function(e){

            $('.select2-search__field').attr('placeholder', 'Start typing to search');
        })
        $(".select2-min").select2({
            minimumResultsForSearch: Infinity
        });

        $('.box-table .item__header').on('click',function (){
           $(this).parent().toggleClass('active');
        });

    });

</script>

</body>
</html>