<main>
    <div class="blobo-s1 pr">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="content">
                        <h1 class="title" data-aos="fade-up">$BLOBO</h1>
                        <p class="mb-md txt-md" data-aos="fade-up" data-aos-delay="200">Blobo is an original 4chan meme from 2016. "Blobo" refers to an exploitable MS Paint image of a blobfish frequently posted on 4chan and other forums with the sentence, "BLOBO IS NEW MEME".</p>
                        <a href="" title="Join Fair Launch" class="btn-join mb-md" data-aos="fade-up" data-aos-delay="400">Join Fair Launch</a>
                        <div class="contract txt-md" data-aos="fade-up" data-aos-delay="600">Contract: N/A</div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="img-wrapper pr">
                        <img src="./assets/img/blobot.png" class="img-1" alt="">
                        <img src="./assets/img/4chan.png" class="img-2" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blobo-s2 pr">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="img-wrapper">
                        <img src="./assets/img/blobo-2.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content">
                        <h2 class="title mb-md" data-aos="fade-up">About</h2>
                        <div class="txt-md" data-aos="fade-up" data-aos-delay="200">
                            <p>Blobo is tired of watching everyone play hot potato with the endless derivative </p>
                            <p>PepeShibaCumGMElonKishuTurboAssFlokiMoonInu coins. The Pepe’s have had their day. It’s time for the most original 4chan meme in the world to take his reign as king of the memes.</p>
                            <br>
                            <p>Blobo is here to make memecoins great again. Launched zero taxes, LP locked 5 years and contract renounced, $BLOBO is a coin for the people, forever. Fueled by pure memetic power, let $BLOBO show you the way.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blobo-s3 pr">
        <div class="container">
            <h2 class="title text-center">Tokenomics</h2>
            <div class="total-supply text-center">
                <h3 class="txt-lg mb-2">Total Supply</h3>
                <span>100,000,000,000,000</span>
            </div>
            <div class="total-list">
                <div class="item" data-aos="fade-up">
                    <h4 class="txt-lg">Pre-sale Allocation</h4>
                    <span>64,000,000,000,000</span>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="200">
                    <h4 class="txt-lg">Liquidity Pool</h4>
                    <span>31,000,000,000,000</span>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="400">
                    <h4 class="txt-lg">CEX LP + Uniswap v3 LP</h4>
                    <span>5,000,000,000,000</span>
                </div>
            </div>
            <div class="info-list">
                <div class="item" data-aos="fade-up">
                    <p class="txt-lg">Initial LP locked <br> For 5 years</p>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="200">
                    <p class="txt-lg">Contract Owner Renounced</p>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="400">
                    <p class="txt-lg">Tax Buy/Sell: <span>0%</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="blobo-s4 pr">
        <div class="container">
            <h2 class="title text-center">Our Roadmap</h2>
            <div class="phase">
                <div class="item" data-aos="fade-up">
                    <h4 class="text-center">Phase 1</h4>
                    <ul>
                        <li>Website & Contract Deploy</li>
                        <li>Audit Smart Contact</li>
                        <li>Fair Launch Created & Marketing</li>
                        <li>Launch On Uniswap</li>
                        <li>Buybot Trendings</li>
                        <li>Community Growth & Dex Trending</li>
                        <li>Listing On CoinGecko And CoinMarketCap</li>
                    </ul>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="200">
                    <h4 class="text-center">Phase 2</h4>
                    <ul>
                        <li>Vibing & Holding</li>
                        <li>100k Twitter Followers</li>
                        <li>100k Telegram Group Members</li>
                        <li>Launch Of Our Official Whitepaper</li>
                    </ul>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="400">
                    <h4 class="text-center">Phase 3</h4>
                    <ul>
                        <li>Listing On Major Exchanges</li>
                        <li>Influencer Marketing Push</li>
                        <li>Meme Takeover</li>
                        <li>Further Partnerships</li>
                        <li>Further Project Development</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="blobo-s5 pr">
        <div class="container">
            <h2 class="title text-center">Partners</h2>
            <div class="partners" data-aos="fade-up">
                <div class="item">
                    <a href="" title=""><img src="./assets/img/eth.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/dexview.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/pinksale.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/cyberscope.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</main>