:root{
  --DelaGothicOne: 'Dela Gothic One', sans-serif;
}
body{
  background: #000;
  font-family: 'Grandstander', cursive;
  font-size: 16px;
  color: #000;
  line-height: 1.6;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
body.overflow-hidden{overflow: hidden;}
@mixin hover{filter: saturate(1.9); -webkit-filter: saturate(1.9);}
a{transition: .25s;}
a:hover{text-decoration: none;}

//header
header{
  width: 100%; position: fixed; background: #000; top: 0; left: 0; z-index: 9;
  .social{}
  .navbar-toggle{display: none;}
  .logo{width: 217px;}
  .social{position: relative; left: 0; transform: translateX(0); margin-left: auto;}
}
.navbar{
  height: 100%; width: 100%;
  display: flex; align-items: center; justify-content: flex-start;
  margin: 0 auto; padding: 6px 0;
  transition: .3s;
}

.navbar-collapse{padding: 0; justify-content: flex-start;}
.navbar-nav{
  margin: 0 0 0 350px; align-items: center;
  >*+*{margin-left: 50px;}
  > li{display: flex; flex-wrap: wrap; align-items: center; position: relative;}
  > li > a{display: block; font-size: 20px; font-weight: 700; color: #fff; line-height: 25px; position: relative;}
  .active,a:hover{color: #F03A7C;}
}
.social{
  margin-left: auto;
  >*+*{margin-left: 40px;}
  a{display: block; width: 31px; height: 25px; font-size: 0;}
  a:hover{filter: saturate(1.4); -webkit-filter: saturate(1.5);}
  .telegram{background: url("#{$img-path}/telegram.svg") no-repeat 0 0/contain;}
  .twitter{background: url("#{$img-path}/twitter.svg") no-repeat 0 0/contain;}
}
main{padding-top: 80px; overflow: hidden;}
.container{max-width: 1300px;}
.blobo-s1{
  padding: 232px 0 145px;
  background: url("#{$img-path}/bg-s1.svg") no-repeat 0 0/100% 100%;
  h1{margin-bottom: 45px; font: 95px/102px var(--DelaGothicOne);}
  .contract{font-weight: 700; color: #0150EA;}
  .btn-join{
    display: inline-block;
    padding: 8px 29px;
    border-radius: 9px;
    background: #F03A7C;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: #fff;
    text-transform: uppercase;
    &:hover{background: #ed1060;}
  }
  .img-wrapper{
    margin: -33px -76px 0 0;
    .img-1{animation: swing 3s infinite linear;}
    .img-2{position: absolute; top: -86px; right: -62px;}
  }
}
.blobo-s2{
  padding: 102px 0 200px;
  background: #ffeff6;
  &::after,&::before{content: ""; background: #ffeff6; height: 200px; position: absolute; width: 100%; z-index: -1;}
  &::after{bottom: -200px;}
  &::before{top: -200px;}
  .img-wrapper{margin-left: -108px; animation: pulse 1s infinite linear;}
  .content{padding-left: 76px;}
}
.blobo-s3{
  padding: 326px 0 364px;
  background: url("#{$img-path}/bg-s2.svg") no-repeat center center/100% 100%;
  .title{margin-bottom: 36px;}
  .item{
    border-radius: 9px;
    border: 2px solid #000;
    border-bottom: 5px solid #000;
    background: #FFEFF6;
    text-align: center;
  }
  .total-supply{
    margin-bottom: 40px;
    h3{text-transform: uppercase;}
    span{font-weight: 700; font-size: 40px; line-height: 48px;}
  }
  .total-list{
    display: grid;
    grid-template-columns: repeat(3, minmax(auto,384px));
    grid-gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
    .item{padding: 67px 15px 57px;}
    h4{margin-bottom: 22px; text-transform: uppercase;}
    span{
      color: #F03A7C;
      font-weight: 700;
      font-size: 32px;
      line-height: 48px;
    }
  }
  .info-list{
    display: grid;
    grid-template-columns: repeat(3, minmax(auto,304px));
    justify-content: center;
    grid-gap: 20px;
    .item{padding: 52px 15px;}
    p{font-weight: 700;}
    p span{display: block; margin-top: 3px; color: #F03A7C;}
  }
}
.blobo-s4{
  padding: 180px 0 175px;
  &::before,&::after{
    content: ""; width: 100%; position: absolute; z-index: -1;
  }
  &::before{
    height: 1437px;
    background: url("#{$img-path}/bg-s4.svg") no-repeat 0 0/cover;
    left: 0; top: -210px;
  }
  &::after{
    height: 260px;
    background: #d8e6ff;
    bottom: -200px;
  }
  .phase{
    display: grid;
    grid-template-columns: repeat(3,minmax(auto,385px));
    justify-content: center;
    grid-gap: 60px;
    margin-top: 85px;
    .item{
      border-radius: 9px;
      background: rgba(255, 255, 255, 0.50);
      box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
    }
    ul{
      height: calc(100% - 83px);
      padding: 27px;
      border: 2px solid rgba(240, 58, 124, 0.50); border-top: none;
      border-radius: 0 0 7px 7px;
      >*+*{margin-top: 15px;}
      li{
        list-style: none; position: relative; padding-left: 17px;
        font-size: 18px;
        line-height: 30px;
        &::before{
          content: "";
          width: 10px; height: 10px;
          background: #F03A7C; border-radius: 50%;
          position: absolute; top: 8px; left: 0;
        }
      }
    }
    h4{
      padding: 14px 0;
      background: #F03A7C;
      border-radius: 7px 7px 0 0;
      font-weight: 700;
      font-size: 32px; line-height: 55px;
      color: #fff;
    }
  }
}
.blobo-s5{
  padding: 292px 0 597px;
  background: url("#{$img-path}/bg-s5.svg") no-repeat 0 0/cover;
  &::after{
    content: "";
    width: 100%; height: vw(368px);
    background: url("#{$img-path}/blobot-3.png") no-repeat 0 0/contain;
    position: absolute; bottom: -1px; left: 0;
  }
  
  .partners{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin-top: 85px;
    .item{
      padding: 37px 34px;
      border-radius: 15px;
      border-top: 2px solid #000;
      background: rgba(255, 255, 255, 0.60);
      display: flex; align-items: center; justify-content: center;
    }
  }
}

footer{
  padding: 58px 0;
  background: #F03A7C;
  .social{
    .twitter{background: url("#{$img-path}/twitter-1.svg") no-repeat;}
    .telegram{background: url("#{$img-path}/telegram-1.svg") no-repeat;}
  }
}


@-webkit-keyframes swing {
  20% {
      -webkit-transform: rotate3d(0, 0, 1, 15deg);
      transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
      -webkit-transform: rotate3d(0, 0, 1, -5deg);
      transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
      -webkit-transform: rotate3d(0, 0, 1, 15deg);
      transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
      -webkit-transform: rotate3d(0, 0, 1, -5deg);
      transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
  }
}
//uikit
.pr{position: relative;}
h2.title{
  font: 60px/55px var(--DelaGothicOne); color: #fff;
  /*text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
  1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;*/
  -webkit-text-stroke: 2.5px #000;
}
button{
  border: none; cursor: pointer; transition: .25s;
  &:focus{outline: none;}
}
.img-fit{width: 100%; height: 100%; object-fit: cover;}
.mb-md{margin-bottom: 30px;}
.txt-md{font-size: 18px; line-height: 24px;}
.txt-lg{font-size: 24px; line-height: 25px;}

@media (max-width: 1680px) {
  .blobo-s1{
    padding-top: 180px;
    .img-wrapper{margin-right: -25px;}
  }
}

@media (max-width: 1440px) {
  .blobo-s1{
    padding: 130px 0 100px;
    .img-wrapper{
      margin: -50px 0 0;
      .img-1{width: 90%; margin: 0 auto;}
      .img-2{width: 250px; right: 0; top: -65px;}
    }
  }
  .blobo-s2{
    padding: 100px 0 120px;
    .img-wrapper{margin: 0;}
    .content{padding-left: 26px;}
  }
  .blobo-s3{
    padding: 226px 0 264px;
  }
  .blobo-s4{
    padding: 120px 0;
    &::after{}
  }
  .blobo-s5{padding: 192px 0 407px;}
  footer{
    padding: 40px 0;
  }
}

@media (max-width: 1024px) {
  header{
    .logo{width: 180px;}
    .navbar-toggle{display: block; position: absolute; right: 0;}
    .social{margin: 20px 0 0; width: 100%; justify-content: center;}
  }
  .navbar{
    width: 100%; min-height: auto; justify-content: flex-start;
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    align-items: flex-start;
    position: fixed; top: 0; left: -100%;
    width: 100%; height: calc(100% - 0px);
    padding: 0 0 15px;
    background: #000;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.show{left: 0;}
  }
  .navbar-toggle{
    display: block;
    width: 24px;
    height: 16px;
    padding: 0;
    background: none; border: none;
    span{
      display: block; width: 24px; height: 2px; border-radius: 2px;
      background: #fff; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 24px; height: 2px; background: #fff; position: absolute; border-radius: 2px;
    }
    span:before{top: -8px;}
    span:after{bottom: -8px;}
  }
  .navbar-toggle.active{
    z-index: 99;
    span{width: 24px; transform: rotate(45deg);}
    span:after{width: 22px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    display: block;
    margin: 0;
    padding: 60px 25px 25px;
    >*+*{margin: 30px 0 0;}
    > li{display: block; text-align: center;}
    > li > a{line-height: inherit;}
  }

  main{padding-top: 69px;}
  .blobo-s1{
    background-size: cover;
    .img-wrapper{
      margin: 0;
      .img-1{width: 100%;}
    }
    h1{margin-bottom: 30px; font-size: 75px; line-height: inherit;}
  }
  .blobo-s3{
    padding: 180px 0 220px;
    background-size: cover;
    .total-list{
      grid-gap: 18px;
      margin-bottom: 24px;
      h4{margin-bottom: 16px;}
      span{font-size: 28px; line-height: 36px;}
    }
    .info-list{grid-gap: 18px;}
  }
  .blobo-s4{
    padding: 60px 0;
    .phase{grid-gap: 15px;}
  }
  .blobo-s5{
    padding: 140px 0 300px;
  }
  footer{padding: 30px 0;}
  .txt-lg{font-size: 22px; line-height: 24px;}
}
@media (max-width: 820px) {
  .blobo-s1{
    padding: 100px 0 130px;
    .img-wrapper{
      .img-2{width: 200px;}
    }
    h1{margin-bottom: 10px; font-size: 56px;}
  }
  .blobo-s3{
    .total-supply{
      span{font-size: 36px; line-height: 42px;}
    }
    .total-list{
      .item{padding: 47px 15px 37px;}
      span{font-size: 26px; letter-spacing: -1px;}
    }
  }
  .txt-lg{font-size: 20px;}
}

@media (max-width: 767px) {
  .blobo-s1{
    padding-top: 55px;
    .row{flex-direction: column-reverse;}
    .img-wrapper{
      margin: 0 0 -20px;
      .img-2{width: 36%; top: -10%;}
    }
    .btn-join{font-size: 20px;}
  }
  .blobo-s2{
    padding: 0;
    .content{padding: 20px 0 0; word-wrap: break-word;}
  }
  .blobo-s3{
    padding: 160px 0;
    .title{margin-bottom: 24px;}
    .total-supply{
      span{font-size: 32px;}
    }
    .total-list{grid-template-columns: repeat(1, minmax(auto, 384px));}
    .info-list{grid-template-columns: repeat(1, minmax(auto, 304px));}
  }
  .blobo-s4{
    &::after{height: 510px;}
    .phase{
      margin-top: 50px; grid-template-columns: repeat(1, minmax(auto, 385px));
      h4{padding: 10px 0; font-size: 30px; line-height: 48px;}
      ul{height: calc(100% - 68px);}
      ul li{
        &::before{top: 6px;}
        font-size: 16px; line-height: 26px;
      }
    }
  }
  .blobo-s5{
    padding: 100px 0 200px;
    .partners{
      margin-top: 50px;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      .item{padding: 35px 15px;}
    }
  }
  h2.title{font-size: 48px; line-height: 1.3; -webkit-text-stroke: 2.1px #000;}
}


@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}
@-webkit-keyframes jello {
  from,
  11.1%,
  to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }

  22.2% {
      -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
      transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
      -webkit-transform: skewX(6.25deg) skewY(6.25deg);
      transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
      -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
      transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
      -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
      transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
      -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
      transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
      -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
      transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
      -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
      transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

@keyframes jello {
  from,
  11.1%,
  to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }

  22.2% {
      -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
      transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
      -webkit-transform: skewX(6.25deg) skewY(6.25deg);
      transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
      -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
      transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
      -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
      transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
      -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
      transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
      -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
      transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
      -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
      transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.jello {
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}